# Core App Dependencies
streamlit
pandas
SQLAlchemy
psycopg2-binary

# Visualization
plotly
matplotlib
XlsxWriter

# Streamlit Extensions
st-aggrid
extra-streamlit-components

#jwt-decode
python-jose
PyJWT

# Google Auth & API Integration
google-auth-oauthlib
google-auth-httplib2
google-api-python-client

#api calls
requests

#cookie
streamlit-cookies-controller